<div class="container px-lg-1">
  <div class="top mx-lg-n5">
    <div class="col py-3 px-lg-2 bg-light"><nav class="navbar navbar-light bg-blue">
  <a class="navbar-brand">
    <img src="/images/l.jpg" class="d-inline-block align-top" width="70" height="40" alt="" style="float: left">
    <h2>Hotel Melati</h2>
  </a>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   <input class=" form-control mr-sm-2" type="search" placeholder="search" aria-label="search">
  </form>
    <form class="form-inline">
      <br>
      <br>
   <a href="#"><button class="btn btn-outline-success" type="button" style="border-radius: 25px">Signup</button></a>
   <a href="/login"><button class="btn btn-outline-primary text-primary" type="button" style="border-radius: 25px">Login</button></a>
</div>

