	<link rel="stylesheet" type="text/css" href="">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height:550px;" src="/images/j.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img style="height:550px;"src="/images/t.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img style="height:550px;"class="d-block w-100 " src="/images/p.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <div class="col py-3 px-lg-5  bg-light"><div class="card mt-2" style="max-width: 1500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/a.jpg" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
      	<h6>Harga : Rp.3.000.000</h6>
        <h5 class="card-title">Fasilitas</h5>
        <ul>
        	<li>Tempat Tidur</li>
        	<li>Telivisi LED</li>
        	<li>AC</li>
        	<li>Toilet</li>
        </ul>

        <button type="button" class="btn btn-outline-primary">Pesan</button>

      </div>
    </div>
  </div>
</div>
<div class="card mt-3" style="max-width: 1500px;">
 <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/u.jpg" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6>Harga</h6>
        <h5 class="card-title">Fasilitas</h5>
        <ul>
          <li>Tempat Tidur</li>
          <li>Telivisi LED</li>
          <li>AC</li>
          <li>Toilet</li>
        </ul>

        <button type="button" class="btn btn-outline-primary">Pesan</button>

      </div>
    </div>
  </div>
</div>
<div class="card mt-3" style="max-width: 1500px;">
 <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/o.jpg" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6>Harga</h6>
        <h5 class="card-title">Fasilitas</h5>
        <ul>
          <li>Tempat Tidur</li>
          <li>Telivisi LED</li>
          <li>AC</li>
          <li>Toilet</li>
        </ul>

        <button type="button" class="btn btn-outline-primary">Pesan</button>

      </div>
    </div>
  </div>
</div>
<footer style="background:red; text-align:center; padding:6px; color:white;height:10">
  Nama Kota
<table border="0" width="100%" cellspacing="3" cellpadding="">
 <div class="card" style="width: 100%;">
  <div style="color:black;"class="card-header">
   Surabaya
  </div>
  <ul style="color:black;"class="list-group list-group-flush">
    <li class="list-group-item">Jakarta</li>
    <li class="list-group-item">Bandung</li>
    <li class="list-group-item">Cianjur</li>
  </ul>
</div>
  <thead>
    <tr>
      <th><img src="" alt=""></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>

</table>


</footer>
